.registro {
	position: relative;
	color: #000;
	border-radius: 5px;
}
.registro article {
	border-radius: 5px;
	padding: 20px;
	background: rgba(225,225,225,.5);
	margin-bottom: 20px;
}
.registro article p {
	margin-bottom: 20px;
	line-height: 24px;
	font-family: helvetica, arial, sans-serif;
}
.registro article .fecha {
	color:#939393;
}
.registro article .creador {
	color:#939393;
}