{% extends 'layout.html.twig' %}	

{% block js %}

{% endblock %}

{% block container %}
	<div class="text">
		<div>
			<h2>Error 404</h2>
			<br>
			<p>archivo o pagina no encontrada...</p>
		</div>
	</div>
{% endblock %}

