{% extends 'layout.html.twig' %}	

{% block js %}

{% endblock %}

{% block container %}
	<div class="text">
		<div>
			<h2>MusicProc</h2>
			<br>
			<p>Bienvenidos al mejor servicio de musica de todos los tiempos :D</p>
		</div>
	</div>
	<div class="imagenes">
		<div class="elemento">
			<a href="/login"><img src="/public/img/google-drive-banner.jpg"></a>
		<p>la mejor musica aqui, solo logeate :3</p>
		</div>
	</div>
{% endblock %}