<!DOCTYPE html>
<html lang="es">
	<head>
		<title>MusicProc - {% block title %}Inicio{% endblock %}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		{% block css %}
			<link rel="stylesheet" href="/public/css/normalize.css">
			<link rel="stylesheet" href="/public/css/columns.css">
			<link rel="stylesheet" href="/public/css/sky.css">
			<link rel="stylesheet" href="/public/css/masonry.css">
			<link rel="shortcut icon" href="/public/img/pacme.ico">
		{% endblock %}
	</head>

	<body>
		{% block nav %}
			<nav class="navbar">
				
				<ul class="left">
					<li><div class="imagen"></div></li>
					<li><div class="logo left">MusicProc</div></li>
				</ul>
				<ul class="right">
					<li><a href="/" class="over">Inicio</a></li>
					<li><a href="/login" class="over">Login</a></li>
				</ul>
			</nav>
		{% endblock %}
		
		{% block container %}{% endblock %}

		<footer class=" box">
			<span><a href="https://github.com/ROM-PacMe/htdocs">MusicProc</a> es mantenida por <a href="">MusicProcProject.</a></span>
		</footer>
	
		{% block js %}
			<<script src="/public/js/sky.js"></script>
		{% endblock %}	
	</body>
</html>
