<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login - MusicProc</title>
  <link rel="stylesheet" href="../public/css/estilos.css">
  <link rel="stylesheet" href="../public/css/footer.css">
  <link rel="stylesheet" href="../public/css/masonry.css">
  <link rel="stylesheet" href="../public/css/seleccionador.css">
  <link rel="stylesheet" href="../public/css/registro.css">
</head>
<body>
  
  <header>
    <div class="menu">
      <div class="contenedor">
        <div class="imagen"></div>
        <div class="logo">MusicProc</div>
        <nav>
          <ul>
            <ul>
              <li><a href="/">Inicio</a></li>
              <li><a href="">Login</a></li>
            </ul>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  
<div class="registro contenedor">
 <div class="centrador">
  <article>
	  <div class="col-5 col-xs-12 left"> 
		  <h3 class="text-center">Ingreso</h3><br>
		  <form action="/login" method="POST">
			  <input type="text" name="username" placeholder="Usuario" class="col-12 form-control"></input><br>
			  <input type="password" name="pass" placeholder="Contraseña" class="col-12 form-control"></input><br>
			  <input type="submit" value="Enviar" class="col-12"><br>
		  </form>
	  </div>
	  <div class="col-2 hidden-xs left"> 
		  <h4 class="text-center">o</h4>
	  </div>
	  <div class="col-5 col-xs-12 left"> 
		  <h3 class="text-center">Registro</h3><br>
		  <form action="/login" method="POST">
			  <input type="text" name="username" placeholder="Usuario" class="col-12 form-control"></input><br>
			  <input type="password" name="pass" placeholder="Contraseña" class="col-12 form-control"></input><br>
			  <input type="text" name="name" placeholder="Nombre" class="col-12 form-control"></input><br>
			  <input type="text" name="surname" placeholder="Apellido" class="col-12 form-control"></input><br>
			  <input type="email" name="email" placeholder="Correo" class="col-12 form-control"></input><br>
			  <input type="date" name="date" placeholder="Fecha" class="col-12 form-control"></input><br>
			  <input type="submit" value="Enviar" class="col-12"><br>
		  </form>
	  </div>
	</article>
  </div>	
</div>
</body>
</html>